body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
	background-color: grey;
	color: white;
}


header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.nav {
	width: 100%
}

.nav-pills{
	font-family: lobster;
	font-size: 1.7em;
	background-color: white;
}

.logo{
	height: 3.5em;
	width: 5.5em;
}

.menu{
	padding-top: 1.5em
}

#intro,
#about-me,
#portfolio,
#contact-me{
	margin-bottom: 4em;
}

.description{
	padding: 20px;
}

h1{
	font-family: lobster;
	padding: 0;
	font-size: 4em;
}

h2{
	font-family: lobster;
	font-size: 2.5em;
	padding-bottom: 0.5em;
	color: blue;
}

h3{
	font-family: lobster;
	color: blue;
}

p{
	font-size: 1.5em;
	color: white;
	text-align: justify;
}

.my-image{
	width: 55%;
	border-radius: 50%;
	/*margin: 0 auto;*/
	max-height: 30em;
}

.btn-default{
	background-color: black;
	color: blue;
	font-size: 1.7em;
	border-radius: 10px;
	font-family: lobster;
}

#facebook-icon{
	color: blue;
}
#twitter-icon{
	color: lightblue;
}

#github-icon{
	color: white;
}

#linkedin-icon{
	color: #0077B5;
}

.projects{
	width: 90%;
	height: 20rem;
}

.work-desc{
	font-size: 1.3em;
}

footer > p{
	background-color: black;
	width: 100%;
	color: blue;
	font-size: 1.2em;
	font-family: lobster;
	padding: 0.5em;
}


textarea,
input{
	color: black;
	width: 100%;
}


.fetchedProjects {
	text-align: center;
	color: white;
}